.networks__link {
  width: 32px;
  height: 32px;
  background-color: #fea5bb;
  border-radius: 50%;
  fill: purple;
}
.networks__link:hover {
  fill: red;
}

.networks__icon {
  width: 18px;
  height: 18px;
}
